.header {
    top: 55%;
    left: 50%;
}

.content {
    top: 36%;
    left: 50%;
}

.authorization {
    position: relative;
    width: 380px;
    height: 400px;
    margin-top: 150px;
    margin-left: 700px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    text-align: center;
}

.authorization h1 {
    display: inline-block;
    font-family: 'BERNIERRegular-Regular';
    font-size: 35px;
    color: #455a64;
    margin-top: 30px;
    margin-bottom: 10px;
}

.hyphen1 {
    top: 50px;
    left: 50px;
}

.hyphen2 {
    top: 50px;
    right: 50px;
}

.login, .password {
    display: block;
    width: 340px;
    height: 45px;
    margin: 20px;
}

.login_icon_svg, .password_icon_svg {
    display: block;
    height: 20px;
    width: 20px;
    margin: auto;
    margin-top: 15px;
}

use.login_icon_1, use.password_icon_1 {
    fill: #c4cbcd;
}

.login:focus-within use.login_icon_1, .password:focus-within use.password_icon_1 {
    fill: #00bfa5;
}

.login_button, .password_button {
    width: 275px;
    height: 45px;
    outline: none;
    cursor: pointer;
    margin-left: 45px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0px;
    font-family: 'Roboto-Regular';
    font-size: 16px;
    padding-left: 20px;
}

.login_button:focus, .password_button:focus {
    border: 1px #00bfa5 solid;
}

.login_icon, .password_icon {
    position: absolute;
    display: block;
    width: 45px;
    height: 47px;
    background-color: #f0efe9;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0px;
    font-family: 'FontAwesome';
    font-size: 18px;
    color: #c4cbcd;
    text-align: center;
}

.test1 {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 20px;
    font-family: 'Roboto-Regular';
    font-size: 16px;
    color: #455a64;
}

.test1 input[type=checkbox] {
    display: none;
}

.test1 label:after {
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
}

.test1 input[type=checkbox]:checked + label:after {
    content: '';
    width: 14px;
    height: 14px;
    background-color: #00bfa5;
    border-radius: 3px;
    padding: 3px;
}

.test1 label {
    font-family: FontAwesome;
    color: #ffffff;
    font-size: 12.7px;
    text-align: center;
    padding: 3px;
    float: left;
}

.test1 p {
    margin: 0 0 0 30px;
}

.test2 {
    position: relative;
    height: 46px;
    width: 200px;
    font-family: 'Roboto-Regular';
    font-size: 15.98px;
    color: #455a64;
    text-align: center;
    margin-left: 95px;
    margin-top: 20px;
}

.test2 h3 {
    font-family: 'Roboto-Bold';
    font-size: 15.98px;
    margin-bottom: 5px;
    margin-top: 20px;
}

.yes {
    display: inline-block;
    margin-right: 40px;
    margin-top: 0;
    margin-bottom: 0;
    float: left;
    padding-left: 30px;
}

.maybe {
    display: inline-block;
    margin-right: 0px;
    margin-top: 0;
    margin-bottom: 0;
    float: left;
    padding-left: 30px;
}

.test2 label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    float: left;
}

input[type=radio] {
    display: none;
}

.test2 label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 10px;
    position: absolute;
    border: 1px solid #cfcfd0;
    background-color: #ffffff;
    padding: 3px;
}

input[type=radio]:checked + label:before {
    content: "\2022";
    font-size: 40px;
    text-align: center;
    line-height: 18px;
    color: #00bfa5;
    padding: 3px;
}

.buttons_authorization {
    display: block;
    width: 380px;
    height: 45px;
    position: absolute;
    bottom: 0px;
    background-color: rgba(9, 174, 155, 0.8);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.buttons_authorization ul {
    width: 380px;
    height: 45px;
    margin: 0;
    padding: 0;
}

.buttons_authorization li {
    display: inline-block;
    float: left;
    text-align: center;
    line-height: 2.5em;
    cursor: pointer;
    font-family: 'Roboto-Medium';
    font-size: 16px;
    color: #ffffff;
}

.buttons_authorization li:hover {
    background-color: rgba(6, 138, 129, 0.8);
    border-radius: 5px;
}

.buttons_authorization li:first-child {
    width: 189px;
    height: 45px;
    border-right: 2px solid #73c8c0;
}

.buttons_authorization li:last-child {
    width: 189px;
    height: 45px;
}

.buttons_authorization a {
    font-family: 'Roboto-Medium';
    font-size: 16px;
    color: #ffffff;
}

